/* General */

html, body {
    color: white;
    font-family: 'Luckiest Guy', cursive; 
    background: rgb(62,62,62);
    background: -moz-linear-gradient(90deg, rgba(62,62,62,1) 0%, rgba(51,47,47,1) 68%);
    background: -webkit-linear-gradient(90deg, rgba(62,62,62,1) 0%, rgba(51,47,47,1) 68%);
    background: linear-gradient(90deg, rgba(62,62,62,1) 0%, rgba(51,47,47,1) 68%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e3e3e",endColorstr="#332f2f",GradientType=1);
}

/* Header */

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 80vw;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

#title {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
    font-size: 5vw;
    background: rgb(41, 41, 41);
}

#info {
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 0.4em;
}

@media screen and (max-width: 640px) {
    #title {
        font-size: 10vw;
    }
}

/* Form */

.meme-details {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: black;
}

/* forms as 2 flex boxes */

/*.meme-details > form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0px 20px;
}

.labels, .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

.inputs {
    margin-left: 100px;
}*/

/* form as 3 flex box rows */

.meme-details > form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0px 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col1,
.col2 {

}

/* a little padding for the form */

label, input {
    padding: 5px;
    margin: 10px 0px;
}

input[type=text] {
    width: 70vw;
}

@media screen and (max-width: 640px){
    .row {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* form submit button */

.break {
    flex-basis: 100%;
    height: 0;
}

.submit-button {
    margin-top: 20px;
    align-self: center;
    justify-self: flex-end;
}

/* Button Style */

#button {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 15px;
}

/* New Memes */

#meme-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    flex-wrap: wrap;
    max-width: 100%;
}

.new-meme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: 3px solid black;
    border-radius: 3px;
    margin: 3px;
    /*color: white;
    font-family: 'Rubik Mono One', sans-serif;
    text-shadow: -2px 2px 5px black;
    font-size: 250%;*/
}

.meme_top,
.meme_bot {
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
    text-shadow: -2px 2px 5px black;
    font-size: 250%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .meme_top,
    .meme_bot {
        font-size: 170%;
    }
}

@media screen and (max-width: 640px) {
    .meme_top,
    .meme_bot {
        font-size: 130%;
    }
}

.meme_top {
    padding: 10px;
    position: absolute;
    top: 5px;
    /*left: 50%;*/
}

.meme_bot {
    padding: 10px;
    position: absolute;
    bottom: 5px;
    /*left: 50%;*/
}

/* x hover */

#x {
    position: absolute;
    font-size: 6em;
    text-align: center;
    top: 50%;
}